* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito Sans", san-serif;
}

.btn {
  background: #b61984;
  color: #fff;
  border-radius: 50px;
  padding: 13px;
  font-size: 0.9rem;
  display: inline-block;
  line-height: 1;
  width: auto;
  height: auto;
}
.btn:hover {
  background: #fff;
  color: #b61984;
  border: 1px solid #b61984;
  transition: all 300ms ease;
}
.btn:hover i {
  color: #b61984 !important;
}
.btn i {
  margin-right: 10px;
}

.footer {
  position: relative;
  padding: 100px 0;
}
.footer h3 {
  font-weight: bold;
  font-size: 1.6rem;
}
.footer ul {
  padding-left: unset;
}
.footer ul li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}
.footer ul li a {
  color: inherit;
}
.footer ul li i {
  padding-right: 10px;
}
.footer .col-md-3 li {
  border-bottom: unset;
  list-style: none;
  color: #fff;
}
.footer .col-md-3 .icon-social {
  margin-top: 20px;
}
.footer .col-md-3 .icon-social a {
  margin-right: 10px;
  color: #fff;
}
.footer .col-md-3 h3 {
  color: #fff;
}
.footer .col-md-3 .input-email {
  margin-top: 50px;
}
.footer .field {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 25px;
}
.footer .field:focus {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: unset;
}
.footer .btn-footer {
  margin: 0 auto;
  width: 100%;
  outline: none;
  display: block;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1;
  border: none;
  transition: all 0.3s ease;
  color: #353434;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 12px;
}
.footer .btn-footer:hover {
  color: #fff;
  background-color: #b61984;
  border: 1px solid #fff;
}
.footer img {
  position: absolute;
  z-index: -1;
}
.footer img.footer-bg-down {
  top: 0;
  width: 100%;
}
.footer .footer-bg-up {
  top: -375px;
  width: 100%;
}

.navigation-links-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-links-text2 {
  padding-right: 60px;
  font-size: 13px;
}

.navigation-links-text1 {
  margin-right: 60px;
  font-size: 13px;
}

.navigation-links-text2::after,
.navigation-links-text1::after {
  display: none;
}

.header-wave {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}
.header .nav {
  display: flex;
  position: relative;
  left: 76px;
}
.header .nav .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.header .nav .dropdown:hover .dropdown-menu {
  display: block;
  max-width: 780px;
  width: 780px;
}
.header .nav .dropdown:hover .dropdown-menu .first-col,
.header .nav .dropdown:hover .dropdown-menu .second-col,
.header .nav .dropdown:hover .dropdown-menu .third-col {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
}
.header .nav .dropdown:hover .dropdown-menu .first-col li,
.header .nav .dropdown:hover .dropdown-menu .second-col li,
.header .nav .dropdown:hover .dropdown-menu .third-col li {
  margin-left: 20px;
  border-bottom: 1px solid;
}
.header .nav .dropdown:hover .dropdown-menu .third-col {
  margin-right: 20px;
}
.header .contact-group {
  display: flex;
  align-items: center;
}
.header .contact-group .contact-group-icon {
  margin-left: 12px;
  color: #000;
}
.header .contact-group i {
  font-size: 15px;
}
.header a.dropdown-toggle {
  color: #000;
}
.header a.dropdown-toggle:hover {
  text-decoration: none;
}
.header li.dropdown:hover .dropdown-menu {
  display: flex !important;
  gap: 20px;
  width: 500px;
  left: -350px;
  top: 80px;
  justify-content: space-around;
}
.header li.dropdown:hover .dropdown-menu li a {
  color: #000;
  font-weight: 600;
}
.header li.dropdown:hover .dropdown-menu li a:hover {
  text-decoration: none;
  color: #b61984;
}
.header li.dropdown:hover .dropdown-menu.dropdown-menu-2 {
  width: 220px;
  left: 0px;
}
.header li.dropdown:hover .dropdown-menu.dropdown-menu-2 .first-col {
  width: 91%;
}
.header li.dropdown:hover .dropdown-menu.dropdown-menu-2 li {
  margin-right: 20px;
}
.header li.dropdown:hover .dropdown-menu.dropdown-menu-3 {
  width: 220px;
  left: -144px;
}
.header li.dropdown:hover .dropdown-menu.dropdown-menu-3 .first-col {
  width: 91%;
}
.header li.dropdown:hover .dropdown-menu.dropdown-menu-3 li {
  margin-right: 20px;
}
.header .home-image {
  left: -107px;
  position: relative;
}
.header .border-purple {
  border-bottom: 3px solid #b61984 !important;
}
.header .border-normal {
  border-bottom: 0.1px solid grey !important;
}
.header .border-bold {
  border-bottom: 1px solid grey !important;
}
.header .border-none {
  border-bottom: 0px !important;
}
.header .indicator {
  position: absolute;
  top: -14px;
  left: 48px;
  height: 36px;
  width: 36px;
  background-color: #fff;
  border: 6px solid #4070f4;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header .indicator::before,
.header .indicator::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 24px;
  width: 19px;
}
.header .indicator::before {
  left: -22px;
  background-color: #fff;
  border-top-right-radius: 25px;
  box-shadow: 1px -13px #4070f4;
}
.header .indicator::after {
  right: -22px;
  background-color: #fff;
  border-top-left-radius: 25px;
  box-shadow: -1px -13px #4070f4;
}

.header li.dropdown {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}
.header li.dropdown:hover::after {
  content: "";
  position: absolute;
  bottom: 10px;
  z-index: 299;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b83b3b;
  display: inline-block;
  margin: 0 10px;
}
.header li.dropdown.dropdown-2:hover::after {
  left: 7px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about .about-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about .about-row .about-col {
  padding: 0;
}
.about .about-row .about-col .superHeadLine {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
  font-family: "Montserrat";
  display: block;
  margin-bottom: 0.5rem;
}
.about .about-row .about-col .headLine {
  font-size: 3.8rem;
  font-weight: 700;
  color: inherit;
  font-family: "Montserrat";
}

.superHeadLine {
  font-size: 0.75rem;
  font-weight: 600;
  color: #b61984;
  font-family: "Montserrat";
  display: block;
  margin-top: 20px;
  margin-bottom: 0.7em;
}

.headLine {
  font-size: 1.55rem;
  font-weight: 700;
  color: inherit;
  font-family: "Montserrat";
  display: block;
}

.teachers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.teachers .teachers-cover-down {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
}
.teachers .teachers-cover-down img {
  width: 100%;
  height: 100%;
}
.teachers .teachers-bg-up,
.teachers .teachers-bg-down {
  position: absolute;
  z-index: -1;
}
.teachers .teachers-bg-up {
  top: -85px;
  width: 100%;
}
.teachers .teachers-bg-down {
  top: 160px;
  width: 100%;
  height: 100%;
}

.teachers-col {
  text-align: center;
}
.teachers-col .teachers-img {
  overflow: hidden;
}
.teachers-col .teachers-img img:hover {
  transform: scale(1.05);
  transition: all 1.5s;
  overflow: hidden;
  width: 100%;
}
.teachers-col .teachers-img img:not(:hover) {
  transition: all 1.5s;
}
.teachers-col .teachers-description {
  font-size: 15px;
  font-weight: 400;
  color: inherit;
  margin-top: 15px;
  margin-bottom: 35px;
}
.teachers-col .teachers-content {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.teachers-col:hover .teachers-content {
  transition: all 1s;
  box-shadow: 0px 15px 19px 0px rgba(0, 0, 0, 0.51);
}

#row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  row-gap: 20px;
}

.course .container {
  padding-top: 60px;
}

.course {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.course .row .course-col {
  padding: 0;
}
.course .row .course-col.col-xl-6 {
  margin: 30px 0;
}
.course .row .course-col.col-xl-5 {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.course .row .course-col.col-xl-5 .course-headline span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #191919;
}
.course .row .course-col.col-xl-5 .course-headline {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.course .row .course-col.col-xl-5 .col-content {
  height: 90%;
  border: 1px solid #000;
  border-radius: 10px;
  width: 85%;
}
.course .form-group {
  position: relative;
  margin-bottom: 0;
}
.course .form-group.col-md-6 {
  margin-bottom: 0;
  margin-top: 15px;
  padding: 0;
}
.course .icon {
  position: absolute;
  padding: 10px;
  color: #b61984;
}
.course input,
.course .custom-select {
  padding-left: 30px;
}
.course .fa-graduation-cap {
  position: relative;
  top: 30px;
  left: 10px;
  color: #b61984;
}
.course .input-message {
  margin: 0 auto;
  margin-top: 20px !important;
}
.course .select-course,
.course .input-message {
  margin: 0 auto;
  width: 80%;
}

.message {
  width: 100%;
}

.input-name-email {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}

.contactButton {
  margin-top: 40px;
  width: 100%;
}
.contactButton .button {
  width: 80%;
  margin: 0 auto;
}
.contactButton input {
  height: 3.5em;
  width: 150px;
  padding: 13px;
}/*# sourceMappingURL=main.css.map */